@keyframes entranceLeft {
  0% {
    -webkit-transform: translateX(-1500px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@keyframes entranceRight {
  0% {
    -webkit-transform: translateX(1500px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
// #############
