body {
  cursor: url("https://raw.githubusercontent.com/ROUND/Touch-Cursor/master/assets/up/touch-cursor-up.png")
      39 39,
    auto;
}
.hover {
  cursor: url("https://raw.githubusercontent.com/ROUND/Touch-Cursor/master/assets/over/touch-cursor-over.png")
      39 39,
    auto;
}
.euuh {
  cursor: url("https://raw.githubusercontent.com/ROUND/Touch-Cursor/master/assets/down/touch-cursor-down.png")
      39 39,
    auto;
}
