@font-face {
  font-family: "Amiko Bold";
  src: url("/assets/fonts/Amiko/Amiko-Bold.ttf") format("ttf"),
    url("/assets/fonts/Amiko/Amiko-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Amiko";
  src: url("/assets/fonts/Amiko/Amiko-Regular.ttf") format("ttf"),
    url("/assets/fonts/Amiko/Amiko-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Amiko SemiBold";
  src: url("/assets/fonts/Amiko/Amiko-SemiBold.ttf") format("ttf"),
    url("/assets/fonts/Amiko/Amiko-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Baloo";
  src: url("/assets/fonts/Baloo_Bhai/BalooBhai-Regular.ttf") format("ttf"),
    url("/assets/fonts/Baloo_Bhai/BalooBhai-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Questrial";
  src: url("/assets/fonts/Questrial/Questrial-Regular.ttf") format("ttf"),
    url("/assets/fonts/Questrial/Questrial-Regular.ttf") format("truetype");
}
